
.playground-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 18vw;
  overflow: auto;
  background-image: url(../../assets/img/lamp1.png), 
    repeating-linear-gradient(
    to right,
    rgb(246, 186, 82),
    rgb(246, 186, 82) 20px,
    rgb(255, 209, 128) 20px,
    rgb(255, 209, 128) 40px
  );
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: local, scroll;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: thin;
}

.playground-container::-webkit-scrollbar {
  width: 7px;
}

.playground-container::-webkit-scrollbar-track {
  background-color: rgb(255, 209, 128);
}

.playground-container::-webkit-scrollbar-thumb {
  background-color: rgb(245, 157, 64);
  outline: 0;
  border-radius: 3px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 0;
  max-width: 540px;
  height: 130px;
  font-family: "Cherry Soda", monospace, sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(184, 15, 3);
}

.editor-wrapper {
  display: flex;
  margin: 20px auto 30px;
  width: 85%;
  max-width: 1100px;
  padding: 15px;
  background-color: rgb(163, 15, 4);
  font-family: monospace;
  font-size: 14px;
  border-radius: 10px;
}

.editor-wrapper.shake {
  animation-name: shake;
  animation-duration: .5s;
  animation-fill-mode: both;
  }

  @keyframes shake {
    0%, 100% {
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
    }
}

.help-btn {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 68px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, .8);
  background-color: rgb(226, 88, 54);
  border-radius: 100%;
  border: 1px solid rgb(163, 15, 4);
  box-shadow: 0 10px rgb(163, 15, 4);
  transform: rotateX(30deg);
  transition: all .3s;
  cursor: pointer;
}

.help-btn:hover {
  background-color: rgb(255, 136, 0);
  animation: buttonpress 0.7s ease-in-out infinite both;
}

.help-btn:active {
  transform: rotateX(30deg) translateY(10px);
  animation: none;
  box-shadow: none;
}

@keyframes buttonpress {
  0% {
    box-shadow: 0 10px rgb(163, 15, 4);
    transform: rotateX(30deg) translateY(0);
  }
  50% {
    box-shadow: 0 5px rgb(163, 15, 4);
    transform: rotateX(30deg) translateY(5px);
  }
  100% {
    box-shadow: 0 10px rgb(163, 15, 4);
    transform: rotateX(30deg) translateY(0);
  }
}

@media (max-width: 1000px) {

  .playground-container {
    background-image:repeating-linear-gradient(
      to right,
      rgb(246, 186, 82),
      rgb(246, 186, 82) 20px,
      rgb(255, 209, 128) 20px,
      rgb(255, 209, 128) 40px
    );
    background-attachment: unset;
   }

   .editor-wrapper {
    flex-direction: column;
    max-width: 545px
   }

}

@media (max-width: 768px) {

  .playground-container {
    position: relative;
    /* width: 100vw; */
  }


}