
.playground-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 400px;
  overflow: auto;
  background-image: repeating-linear-gradient(
    to right,
    #f6ba52,
    #f6ba52 20px,
    #ffd180 20px,
    #ffd180 40px
  );
}

.task {
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}

.editor-wrapper {
  display: flex;
  margin: 0 auto 20px;
  width: 70%;
  padding: 15px;
  background-color: rgb(163, 15, 4);
  font-family: monospace;
  font-size: 14px;
  border-radius: 10px;
}

.editor-wrapper.shake {
  animation-name: shake;
  animation-duration: .5s;
  animation-fill-mode: both;
  }

  @keyframes shake {
    0%, 100% {
    transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
    }
}

.help-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, .3);
  transition: .3s;
}

.help-btn:hover {
  color: rgb(45, 201, 91);
  box-shadow: 0 0 5px rgb(45, 201, 91);
}

.help-btn:active {
  transform: translateY(3px);
}