.editor-wrapper {
  display: flex;
  margin: 0 auto;
  width: 70%;
  padding: 10px;
  background-color: black;
  font-family: monospace;
  font-size: 14px;
  border-radius: 4px;
}

.editor-pane,
.viewer-pane {
  flex: 1;
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 30px 1fr;
  gap: 0px;
  height: 100%;
}

.pane-header {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 5px;
  background-color: rgb(51, 51, 51);
  color: rgb(231, 231, 231);
}

.line-numbers {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  padding: 5px;
  text-align: right;
  color: rgb(126, 124, 124);
  border-right: 1px solid rgba(255, 255, 255, .4);
}

.viewer-window,
.editor-window {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  padding: 10px;
}

.editor-window {
  background-color: rgb(247, 247, 247);
  color: rgba(0, 0, 0, .4);
}

.editor-pane .line-numbers {
  background-color: rgb(206, 206, 206);
}

.viewer-window {
  background-color: rgb(24, 24, 24);
  color: rgba(255, 255, 255, .4);
  cursor: default;
}

.viewer-pane .line-numbers {
  background-color: rgb(24, 24, 24);
}

.viewer-window div {
  padding-left: 20px;
}

.viewer-window div.hover {
  color: rgba(255, 255, 255, .9);
}

.filename {
  color: rgba(255, 255, 255, .4);
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.editor-input,
.mock-input {
  position: absolute;
  width: calc(100% - 55px);
  height: 27px;
  border: 0;
  outline: 0;
  padding: 5px;
  margin: 0 3px;
}

.editor-input {
  background-color: transparent;
  color: transparent;
  caret-color: rgba(0, 0, 0, .4);
  font: inherit;
  z-index: 1;
}

.mock-input {
  background-color: rgba(0, 0, 0, .2);
}

.shake {
  animation-name: shake;
  animation-duration: .5s;
  animation-fill-mode: both;
  }

  @keyframes shake {
  0%, 100% {
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  transform: translate3d(10px, 0, 0);
  }
  }

.enter-button {
  width: 45px;
  padding: 3px 0;
  margin-left: auto;
  text-shadow: 0 1px 2px #949494;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .45);
  color: rgba(0, 0, 0, .6);
  box-shadow: 0 4px rgba(0, 0, 0, .3);
  transition: .3s;
}

.enter-button:active {
  background-color: rgba(0, 0, 0, .4);
  box-shadow: 0 1px rgba(0, 0, 0, .3);
  transform: translateY(2px);
}


.editor-text {
  padding: 10px 0;
}