.table-wrapper {
  position: relative;
  width: 600px;
  margin: 0 auto;
  padding: 40px 0;
  transform: translate3d(0,0,0);
  perspective: 300px;
}

.table {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  width: 600px;
  height: 170px;
  background-color: rgb(233, 160, 64);
  transform: rotateX(20deg);
  transform-origin: bottom;
}

.table-edge {
  width: 600px;
  height: 15px;
  margin: 0 auto;
  background-color: rgb(165, 112, 42);
  transform: rotateX(-20deg);
  transform-origin: top;
}

.table .hover {
  filter: drop-shadow(0 0 15px rgb(255, 255, 255));
}

plate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffffff;
}

bento {
  display: block;
  width: 100px;
  height: 100px;
  background-color: chocolate;
}

apple {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: crimson;
}

pickle {
  display: block;
  width: 20px;
  height: 70px;
  border-radius: 10px;
  background-color: darkgreen;
}

notebook {
  width: 70px;
  height: 90px;
  background-size: cover;
  background-image: url('../../../assets/img/notebook.svg');
}

.tooltip {
  position: absolute;
  padding: 10px;
  width: fit-content;
  background-color: aliceblue;
  display: none;
}

.tooltip.visible {
  display: block;
}

.table > * {
  transition: transform 1s;
}

.out {
  animation-name: bounceOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }

  @keyframes bounceOut {
    20% {
    transform: translate3d(0, -10px, 0);
    }
    40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
    }
    100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
    }
  }

  .win-message {
    background-color: brown;
    font-size: 32px;
    color: rgb(240, 217, 9);
  }