.table-wrapper {
  margin: 0 auto 40px;
  perspective: 400px;
}

.table {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
  padding: 0 30px;
  width: 600px;
  height: 170px;
  background-color: #dd3b12;
  box-shadow: 0 30px 13px rgba(0, 0, 0, 0.7);
  transform: rotateX(20deg);
  transform-origin: bottom;
  transform-style: preserve-3d;
}

.table-edge {
  position: relative;

  width: 600px;
  height: 15px;
  margin: 0 auto;
  background-color: #8f2409;
  transform: rotateX(-20deg);
  transform-origin: top;
}

.table-leg {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 20px;
  transform-origin: top;
  background: linear-gradient(90deg, rgb(167, 165, 165) 26%, rgba(4,0,11,0.8564814814814815) 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table-leg__left {
  top: 100%;
  left: 20px;
}

.table-leg__right {
  top: 100%;
  right: 20px;
}

.table * {
  position: relative;
  background-repeat: no-repeat;
  filter: drop-shadow(0 5px 3px black);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.table .hover {
  filter: drop-shadow(0 0 10px rgb(255, 255, 0));
}

.tooltip {
  position: fixed;
  padding: 10px;
  top: 15px;
  background-color: rgb(250, 235, 215);
  border-radius: 15px;
  color: #311363;
  display: none;
}

.tooltip.visible {
  display: block;
}

plate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-size: 120px 120px;
  background-position: center center;
  background-image: url('../../../assets/img/plate-red.svg');
}

plate#green {
  background-image: url('../../../assets/img/plate-green.svg');
}

pan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-size: 110px 110px;
  background-position: center center;
  background-image: url('../../../assets/img/frying-pan.svg');
}

board {
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
  background-position: center center;
  background-image: url('../../../assets/img/cutting-board.svg');
}

apple {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  background-position: center center;
  background-image: url('../../../assets/img/apple.svg');
}

napkin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 90px;
  background-size: 65px 90px;
  background-position: center center;
  background-image: url('../../../assets/img/napkin-white.svg');
}

napkin.red {
  background-image: url('../../../assets/img/napkin-red.svg');
}

plate napkin {
  transform: translateX(5px);
}

fork {
  width: 20px;
  height: 90px;
  background-size: 20px 90px;
  background-position: center center;
  background-image: url('../../../assets/img/fork.svg');
}

fish {
  width: 65px;
  height: 45px;
  background-size: 80px 45px;
  background-position: center center;
  background-image: url('../../../assets/img/fish.svg');
}

fish.big {
  width: 95px;
  height: 70px;
  background-size: 120px 70px;
  background-position: center center;
  background-image: url('../../../assets/img/fish.svg');
}

knife {
  width: 25px;
  height: 110px;
  background-size: 80px 110px;
  background-position: center center;
  background-image: url('../../../assets/img/knife.svg');
}

knife.big {
  width: 55px;
  height: 130px;
  background-size: 100px 130px;
  background-position: -30px center;
  background-image: url('../../../assets/img/knife-big.svg');
}

towel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-size: 150px 150px;
  background-position: center center;
  background-image: url('../../../assets/img/towel.svg');
}


.out {
  animation-name: bounceOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }

  @keyframes bounceOut {
    20% {
    transform: translate3d(0, -10px, 0);
    }
    40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
    }
    100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
    }
  }

  .win-message {
    font-family: "Cherry Soda", monospace, sans-serif;
    font-size: 32px;
    color: rgb(240, 217, 9);
    filter: none;
  }