.table-wrapper {
  margin: 0 auto 20px;
  perspective: 400px;
}

.table {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0 auto;
  padding: 0 30px;
  width: 600px;
  height: 170px;
  background-color: #dd3b12;
  box-shadow: 0 28px 10px rgba(0, 0, 0, 0.7);
  transform: rotateX(20deg);
  transform-origin: bottom;
  transform-style: preserve-3d;
}

.table-edge {
  position: relative;
  width: 600px;
  height: 15px;
  margin: 0 auto;
  background-color: #8f2409;
  transform: rotateX(-20deg);
  transform-origin: top;
}

.table-leg {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 20px;
  transform-origin: top;
  background: linear-gradient(90deg, rgb(167, 165, 165) 26%, rgba(4,0,11,0.8564814814814815) 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.table-leg__left {
  top: 100%;
  left: 20px;
}

.table-leg__right {
  top: 100%;
  right: 20px;
}

.table * {
  position: relative;
  background-repeat: no-repeat;
  filter: drop-shadow(0 5px 3px black);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.table .hover {
  filter: drop-shadow(0 0 10px rgb(255, 255, 0));
}

.tooltip {
  position: fixed;
  padding: 10px;
  top: -5px;
  background-color: rgb(250, 235, 215);
  border-radius: 15px;
  color: #311363;
  display: none;
}

.tooltip.visible {
  display: block;
}

plate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-size: 120px 120px;
  background-position: center center;
  background-image: url('../../../assets/img/plate.svg');
}

plate:has(apple) {
  flex-direction: column;
}

plate cookie:not(:last-child) {
  transform: translateY(20px);
  z-index: 2;
}

plate.red {
  background-image: url('../../../assets/img/plate-red.svg');
}

plate.green {
  background-image: url('../../../assets/img/plate-green.svg');
}

plate#dessert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-size: 80px 80px;
  background-position: center center;
  background-image: url('../../../assets/img/plate-small.svg');
}

pan {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-size: 110px 110px;
  background-position: center center;
  background-image: url('../../../assets/img/frying-pan.svg');
}

board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
  background-position: center center;
  background-image: url('../../../assets/img/cutting-board.svg');
}

board > * {
  margin-left: 12px;
}

apple {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  background-position: center center;
  background-image: url('../../../assets/img/apple.svg');
}

apple.green {
  background-image: url('../../../assets/img/apple-green.svg');
}

apple.yellow {
  background-image: url('../../../assets/img/apple-yellow.svg');
}

apple.big {
  width: 70px;
  height: 70px;
  background-size: 70px 70px;
}

tomato {
  width: 55px;
  height: 55px;
  background-size: 55px 55px;
  background-position: center center;
  background-image: url('../../../assets/img/tomato.svg');
}

napkin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 90px;
  background-size: 65px 90px;
  background-position: center center;
  background-image: url('../../../assets/img/napkin-white.svg');
}

napkin.red {
  background-image: url('../../../assets/img/napkin-red.svg');
}

plate napkin {
  margin-left: 5px;
}

fork {
  width: 20px;
  height: 90px;
  background-size: 20px 90px;
  background-position: center center;
  background-image: url('../../../assets/img/fork.svg');
}

fish {
  width: 65px;
  height: 45px;
  background-size: 80px 45px;
  background-position: center center;
  background-image: url('../../../assets/img/fish-red.svg');
}

fish.big {
  width: 105px;
  height: 80px;
  background-size: 130px 80px;
}

fish.green {
  background-image: url('../../../assets/img/fish-green.svg');
}

knife {
  width: 20px;
  height: 90px;
  background-size: 20px 90px;
  background-position: center center;
  background-image: url('../../../assets/img/knife.svg');
}

knife.big {
  width: 55px;
  height: 130px;
  background-size: 100px 130px;
  background-position: -30px center;
  background-image: url('../../../assets/img/knife-big.svg');
}

knife.small {
  width: 25px;
  height: 130px;
  background-size: 100px 130px;
  background-position: -45px center;
  background-image: url('../../../assets/img/knife-small.svg');
}

knife.butcher {
  width: 45px;
  height: 130px;
  background-size: 100px 130px;
  background-position: -35px center;
  background-image: url('../../../assets/img/knife-biggest.svg');
}

towel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-size: 150px 150px;
  background-position: center center;
  background-image: url('../../../assets/img/towel.svg');
}

towel > * {
  margin-left: 10px;
}

towel:has(cookie) {
  flex-direction: column;
}

spoon {
  width: 20px;
  height: 90px;
  background-size: 20px 90px;
  background-position: center center;
  background-image: url('../../../assets/img/spoon.svg');
}

steak {
  width: 90px;
  height: 70px;
  background-size: 90px 70px;
  background-position: center center;
  background-image: url('../../../assets/img/steak.svg');
}

broccoli {
  width: 65px;
  height: 90px;
  background-size: 65px 90px;
  background-position: center center;
  background-image: url('../../../assets/img/broccoli.svg');
}

cookie {
  width: 45px;
  height: 45px;
  background-size: 45px 45px;
  border-radius: 100%;
  background-position: center center;
  background-image: url('../../../assets/img/cookie.svg');
}

cookie.big {
  width: 75px;
  height: 75px;
  background-size: 75px 75px;
  border-radius: 100%;
  background-position: center center;
  background-image: url('../../../assets/img/cookie.svg');
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }

@keyframes bounce {
  20% {
  transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
  opacity: 1;
  transform: translate3d(0, 20px, 0);
  }
  100% {
  opacity: 0;
  transform: translate3d(0, -2000px, 0);
  }
}

.pulsate {
    animation: pulsate 0.7s ease-in-out infinite both;
  }

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  100% {
    transform: scale(1);
  }
}

.win-message {
  font-family: "Cherry Soda", monospace, sans-serif;
  font-size: 32px;
  color: rgb(240, 217, 9);
  filter: none;
}