.table-wrapper {
  padding: 40px 0;
}

.table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  background-color: brown;
}

.table .hover {
  background-color: blueviolet;
}

plate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffffff;
}

bento {
  display: block;
  width: 100px;
  height: 100px;
  background-color: chocolate;
}

apple {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: crimson;
}

pickle {
  display: block;
  width: 20px;
  height: 70px;
  border-radius: 10px;
  background-color: darkgreen;
}