.table-wrapper {
  padding: 40px 0;
  position: relative;
}

.table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  background-color: brown;
}

.table .hover {
  background-color: blueviolet;
}

plate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffffff;
}

bento {
  display: block;
  width: 100px;
  height: 100px;
  background-color: chocolate;
}

apple {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: crimson;
}

pickle {
  display: block;
  width: 20px;
  height: 70px;
  border-radius: 10px;
  background-color: darkgreen;
}

.tooltip {
  position: absolute;
  padding: 10px;
  width: fit-content;
  background-color: aliceblue;
  display: none;
}

.tooltip.visible {
  display: block;
}

.table .bounceOut {
  animation-name: bounceOut;
  animation-duration: 1s;
  animation-fill-mode: both;
  }

  @keyframes bounceOut {
  20% {
  transform: translate3d(0, -10px, 0);
  }
  40%, 45% {
  opacity: 1;
  transform: translate3d(0, 20px, 0);
  }
  100% {
  opacity: 0;
  transform: translate3d(0, -2000px, 0);
  }
  }