ul {
  list-style: none;
}

.levels-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 250px;
  font-family: "Cherry Soda", monospace, sans-serif;
  color: rgba(255, 255, 255, .8);
  text-align: center;
  background-color: rgb(163, 15, 4);
  border-left: 15px solid rgb(129, 28, 2);
  border-right: 15px solid rgb(129, 28, 2);
  overflow: auto;
}

.levels-heading {
  padding: 10px;
  font-size: 26px;
  border-bottom: 2px solid rgba(255, 255, 255, .4);
}

.menu-btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-left: auto;
}

.menu-btn-line {
  border: 1px solid rgba(255, 255, 255, .4);
}

.levels-list {
  margin-bottom: 30px;
}

.levels-item {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 10px 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.levels-item::before {
  content: '';
  position: absolute;
  margin: 0 15px 0 5px;
  transform: translateX(-35px) translateY(-3px) rotate(45deg);
  height: 18px;
  width: 8px;
  border-bottom: 5px solid rgba(255, 255, 255, 0.4);
  border-right: 5px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.levels-item.current {
  background-color: rgba(255, 255, 255, .2);
}

.levels-item.completed::before {
  border-color: rgb(45, 201, 91);
}

.levels-item.hint-used::before {
  border-color: rgb(240, 217, 9);
}

.reset-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, .8);
  background-color: rgba(255, 255, 255, .2);
  border-radius: 4px;
  border: 1px solid rgba(63, 3, 3, 0.3);
  box-shadow: 0 8px rgba(63, 3, 3, 0.3);
  transition: .3s;
  cursor: pointer;
}

.reset-btn:hover {
  color: rgb(240, 217, 9);
}

.reset-btn:active {
  transform: translateY(3px);
  box-shadow: 0 5px rgba(63, 3, 3, 0.3);
}