ul {
  list-style: none;
}

.levels-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 18vw;
  padding-bottom: 20px;
  font-family: "Cherry Soda", monospace, sans-serif;
  color: rgba(255, 255, 255, .8);
  text-align: center;
  background-color: rgb(129, 28, 2);
  border-left: 25px solid rgb(129, 28, 2);
  border-right: 20px solid rgb(129, 28, 2);
  z-index: 2;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: rgb(129, 28, 2) rgba(245, 146, 146, 0.1);
}

.levels-heading {
  padding: 10px;
  font-size: 26px;
}

.menu-btn {
  display: none;
  position: absolute;
  width: 30px;
  height: 80px;
  top: 42%;
  right: 100%;
  background-color: rgb(129, 28, 2);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  transform: translateX(-50%);
  writing-mode: vertical-rl;
  color: rgb(255, 255, 255);
  z-index: 1;
  cursor: pointer;
}


.levels-container {
  margin-bottom: 30px;
  background-color: rgb(163, 15, 4);
}

.levels-container::-webkit-scrollbar {
  width: 9px;
}

.levels-container::-webkit-scrollbar-track {
  background-color: rgb(170, 63, 36);
}

.levels-container::-webkit-scrollbar-thumb {
  background-color: rgba(129, 28, 2, 0.6);
  outline: 0;
}

.levels-item {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px 10px 25px;
  border-bottom: 2px solid rgba(129, 28, 2);
  cursor: pointer;
}

.levels-item::before {
  content: '';
  position: absolute;
  left: calc(50% - 35px);
  width: 8px;
  height: 18px;
  transform: translateY(-3px) rotate(45deg);
  border-bottom: 5px solid rgba(255, 255, 255, 0.4);
  border-right: 5px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.levels-item.current,
.levels-item:hover {
  background-color: rgba(255, 106, 94, 0.2);
}

.levels-item.completed::before {
  border-color: rgb(5, 151, 49);
}

.levels-item.hint-used::before {
  border-color: rgb(250, 205, 3);
}

.reset-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, .8);
  background-color: rgb(226, 88, 54);
  border-radius: 8px;
  border: 1px solid rgba(63, 3, 3, 0.5);
  transition: all .3s;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: rgb(255, 136, 0);
}

.reset-btn:active {
  transform: translateY(3px);
}

@media (max-width: 1000px) {

  .levels-container {
    border-left-width: 15px;
    border-right-width: 10px;
   }

   .levels-item {
    padding-left: 35px;
   }

}

@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .levels-container {
    top: 0;
    left: 100%;
    width: 320px;
    height: 100vh;
    transition: 1s;
  }

  .levels-container.visible {
    transform: translateX(-100%);
  }


}