ul {
  list-style: none;
}

.levels-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 18vw;
  font-family: "Cherry Soda", monospace, sans-serif;
  color: rgba(255, 255, 255, .8);
  text-align: center;
  background-color: rgb(163, 15, 4);
  border-left: 25px solid rgb(129, 28, 2);
  border-right: 20px solid rgb(129, 28, 2);
  z-index: 2;
}

.levels-heading {
  padding: 10px;
  font-size: 26px;
  border-bottom: 2px solid rgba(129, 28, 2);
}

.menu-btn {
  display: none;
}

.levels-container {
  height: 100%;
  padding-bottom: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgb(129, 28, 2) rgba(245, 146, 146, 0.1);
}

.levels-container::-webkit-scrollbar {
  width: 6px;
}

.levels-container::-webkit-scrollbar-track {
  background-color: rgb(170, 63, 36);
}

.levels-container::-webkit-scrollbar-thumb {
  background-color: rgba(129, 28, 2, 0.6);
  outline: 0;
  border-radius: 3px;
}

.levels-list {
  padding-bottom: 20px;
}

.levels-item {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding: 9px 10px 9px 25px;
  border-bottom: 2px solid rgba(129, 28, 2);
  cursor: pointer;
  transition: .3s;
}

.levels-item::before {
  content: '';
  position: absolute;
  left: calc(50% - 35px);
  width: 8px;
  height: 18px;
  transform: translateY(-5px) rotate(45deg);
  border-bottom: 5px solid rgba(255, 255, 255, 0.4);
  border-right: 5px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.levels-item.current{
  background-color: rgba(255, 106, 94, 0.2);
}

.levels-item.completed::before {
  border-color: rgb(5, 151, 49);
}

.levels-item.hint-used::before {
  border-color: rgb(250, 205, 3);
}

.reset-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  font-family: monospace;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: rgba(255, 255, 255, .8);
  background-color: rgb(226, 88, 54);
  border-radius: 8px;
  border: 1px solid rgba(63, 3, 3, 0.5);
  transition: all .3s;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: rgb(255, 136, 0);
}

.reset-btn:active {
  transform: translateY(3px);
}

@media (max-width: 1000px) {

  .levels-wrapper {
    border-left-width: 10px;
    border-right-width: 10px;
   }

   .levels-item {
    padding-left: 35px;
    font-size: 14px;
   }

}

@media (hover:hover) {

  .levels-item:hover {
    background-color: rgba(255, 106, 94, 0.2);
  }

}

@media (max-width: 768px) {

  .menu-btn {
    display: block;
    position: absolute;
    width: 30px;
    height: 90px;
    top: 370px;
    left: -10px;
    transform: translateX(-100%);
    padding-bottom: 5px;
    font-family: monospace, sans-serif;
    font-size: 18px;
    font-weight: 700;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: -0.3em;
    color: rgb(255, 211, 200);
    background-color: rgb(129, 28, 2);
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    z-index: 1;
    cursor: pointer;
  }

  .levels-wrapper {
    top: 0;
    left: 100%;
    width: 30vw;
    height: 100vh;
    transition: 1s;
  }

  .levels-wrapper.visible {
    transform: translateX(-100%);
  }

  .page:has(.levels-wrapper.visible) .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
  }

}

@media (max-height: 950px) {

  .levels-item {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}