.levels-header {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px;
}

.levels-heading {
  margin-right: 10px;
}

.prev-level-btn,
.next-level-btn {
  position: relative;
  width: 30px;
  height: 30px;
}

.prev-level-btn::after,
.next-level-btn::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 7px;
  left: 0;
  border-left: 2px solid rgba(255, 255, 255, .4);
  border-top: 2px solid rgba(255, 255, 255, .4);
}

.prev-level-btn::after {
  left: 7px;
  transform: rotate(-45deg);
}
.next-level-btn::after {
  transform: rotate(135deg);
}

.menu-btn {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-left: auto;
}

.menu-btn-line {
  border: 1px solid rgba(255, 255, 255, .4);
}

.checkmark {
  margin: 0 15px 0 5px;
  transform: translateY(-5px) rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 4px solid #6e6e6e;
  border-right: 4px solid #6e6e6e;
}

.levels-header.completed .checkmark {
  border-color: rgb(45, 201, 91);
}