.editor {
  flex: 1;
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 30px 1fr;
  gap: 0px;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.editor .pane-header {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 5px;
  background-color: rgb(129, 28, 2);
  color: rgb(255, 255, 255);
}

.editor .gutter {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  padding: 5px;
  text-align: right;
  background-color: rgb(226, 88, 54);
  color: rgb(255, 255, 255);
  border-right: 1px solid rgba(46, 2, 2, 0.4);
}

.editor-window {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  padding: 10px;
  background-color: rgb(250, 213, 195);
  color: rgba(56, 22, 2, 0.4);
}

.editor .filename {
  color: rgba(255, 255, 255, 0.6);
}

.input-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.editor-input,
.mock-input {
  position: absolute;
  width: calc(100% - 55px);
  height: 27px;
  padding: 5px;
  margin: 0 3px;
  font-weight: 700;
  white-space: nowrap;
  overflow-x: auto;
  border: 0;
  outline: 0;
  scrollbar-width: none;

  -ms-overflow-style: none;
}

.editor-input {
  font: inherit;
  color: transparent;
  caret-color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
  z-index: 1;
}

.editor-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.mock-input {
  background-color: rgba(63, 3, 3, 0.8);
}

.editor-input::-webkit-scrollbar,
.mock-input::-webkit-scrollbar {
  display: none;
}

.enter-button {
  width: 45px;
  padding: 3px 0;
  margin-left: auto;
  color: rgba(63, 3, 3, .6);
  text-shadow: 0 1px 2px #949494;
  background-color: rgba(63, 3, 3, 0.2);
  border-radius: 2px;
  border: 1px solid rgba(63, 3, 3, 0.45);
  box-shadow: 0 4px rgba(63, 3, 3, 0.3);
  transition: .3s;
  cursor: pointer;
}

.enter-button:active {
  transform: translateY(2px);
  background-color: rgba(63, 3, 3, 0.4);
  box-shadow: 0 1px rgba(63, 3, 3, 0.3);
}

.editor-text {
  padding: 10px 0;
}

@media (hover:hover) {

  .enter-button:hover {
    background-color: rgba(63, 3, 3, 0.3);
  }

}

@media (max-width: 1000px) {

  .editor {
    max-height: 145px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }

}
