.level-content {
  padding: 30px 15px;
}

.selector-type {
  padding: 5px 0;
  font-size: 24px;
}

.instruction {
  font-size: 18px;
  padding: 5px 0 10px;
}

.syntax {
  display: inline-block;
  font-size: 36px;
  padding: 3px 5px;
  background-color: #333333;
  border-bottom: 2px solid rgba(255, 255, 255, .4);
}

.hint {
  padding: 20px 0;
  font-size: 16px;
}

.highlight-dark {
  font-size: 14px;
  color: #c7c7c7;
  padding: 2px 5px;
  background-color: #333333;
}

.examples-title {
  font-size: 20px;
  padding-bottom: 15px;
}

.example {
  padding: 5px 0;
}

